html {
    background-image: ;
    background-color: #9fb9de;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0.25px 0.25px #fff;
    height: 100%;
    background-size: cover;
}
body {
    width: 100%;
    max-width: 100%;
    background-color: transparent !important;
    padding: 20px;
    margin: 40px auto !important;
    border-radius: 5px;
}
.jumbotron {
    background: transparent !important;
    margin-bottom: 0px !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.container {
    padding: 0 !important;
}
