html {
    background-image: url("../images/thomas-bg.jpg");
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}
body {
    width: 100%;
    max-width: 100%;
    background-color: transparent !important;
    padding: 20px;
    margin: 40px auto !important;
    border-radius: 5px;
}
.jumbotron {
    background: transparent !important;
    margin-bottom: 0px !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.container {
    padding: 0 !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.display-schedule, .train-info {
    background-color: rgba(255,255,255,0.5) !important;
    margin: 40px 0 0 !important;
    border: 2px solid #fff;
    border-radius: 5px;
}
.train-info {
    font-weight: bold;
}
.display-schedule {
    overflow-x: auto;
}
.display-schedule h4, .train-info h4 {
    background: #fff;
    margin-bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.display-schedule table {
    margin-bottom: 0;
    padding: 0 20px;
}
.display-schedule > div, .train-info > div {
    padding: 0 !important;
}
.train-info form {
    padding: 20px !important;
}
.train-info button {
    background: #fff;
    border: none !important;
    color: #000;
}
.train-info button:hover {
    background: rgba(255,255,255,0.5);
}